tokens:
    pool: ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
    length: 10
system:
    pid: False
web:
    address: :8080
database:
    type: sqlite3
    source: lmv-tracker.db
#database:
#    type: mysql
#    source: user:password@/lmv
#database:
#    type: postgres
#    source: dbname=lmv sslmode=disable
